@font-face{ 
  font-family: 'Aller-Light';
  src: url('font/aller_light-webfont.eot');
  src: url('font/aller_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/aller_light-webfont.woff') format('woff'),
       url('font/aller_light-webfont.ttf') format('truetype'),
       url('font/aller_light-webfont.svg#webfont') format('svg');
}
@font-face{ 
  font-family: 'Aller-Light-Italic';
  src: url('font/aller_light-italic-webfont.eot');
  src: url('font/aller_light-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/aller_light-italic-webfont.woff') format('woff'),
       url('font/aller_light-italic-webfont.ttf') format('truetype'),
       url('font/aller_light-italic-webfont.svg#webfont') format('svg');
}
@font-face{ 
  font-family: 'Aller-Regular';
  src: url('font/aller_regular-webfont.eot');
  src: url('font/aller_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/aller_regular-webfont.woff') format('woff'),
       url('font/aller_regular-webfont.ttf') format('truetype'),
       url('font/aller_regular-webfont.svg#webfont') format('svg');
}
html, body {
  font-family: 'Aller-Light', sans-serif; /*Specify your font name here*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{background-color: #ddd;}
p{margin:0px;max-width: 600px;}
h1{font-family:'Aller-Regular';font-size:24px;}
.bold{font-family:'Aller-Regular';}
.italic{font-family:'Aller-Light-Italic';}
.container{background-color: white;
 /*border-bottom: 1px solid #ddd;*/
 padding:15px 15px 0px 15px;
}
.container ul{
  margin:6px 0px 0px 0px;
  padding:0px;
}
.container ul li{
  margin:0px;
  background-color: ;
  list-style:none;
  display:inline;
  float:right;
  margin-left:30px;
}
.container ul li a{
  font-size:22px;
  color:#333;
  text-decoration: none;
  transition: color 0.25s ease;
}
.container ul li a:hover{
  color:#999;
  transition: color 0.25s ease;
}
.pad-bottom{
  padding:15px 15px 15px 15px;
}
.padding-top{
  padding-top: 50px;
}

body a {
 text-decoration: none;
 color: #ADC913;
 font-weight: bold;
}

body a:hover {
 text-decoration: none;
 font-weight: bold;
}

.navigation {
  font-size: .8em;
}

.logo{
  height: auto;
}
.container .pixelgraphic{
  width:100%;
  height:auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
.software-box{
  color:#333;
  float:left;
  width:calc(50% - 7.5px);
  background-color: #ADC913;
  padding:10px 10px 7px 10px;
}
.software-box:hover {color:#333;}
.software-box img{
  margin-bottom:5px;
  width:100%;
}
.left{margin-right: 7.5px;}
.right{margin-left:7.5px;}
.btn, .btn-primary{
  background-color: #ADC913;
  border:none;
}
.btn:hover, .btn-primary:hover{
  background-color: #ADC913;
  color:#333;
}

.pub{
  text-indent: -25px;
  padding-left:25px;
}
.learnmore {
  background-color:#ADC913;
  border-radius: 5px;
  color:white;
  padding:10px;
  transition: all 0.5s ease;
}
.learnmore:hover{
  text-decoration: none;
  color:white;
  background-color: silver;
  transition: all 0.5s ease;
}
.teaser{
  text-align: center;
  width:calc((100% - 30px) / 3);
  float:left;
  margin-bottom: 15px;
}
.middle{
  margin:0px 15px 0px 15px;
}
.names{
  margin-bottom: 20px;
}
.logos{
  padding:30px 0px 50px 0px;
}
@media (min-width: 50px) {
  .logo{float :left; width:90px;}
  .container ul{ margin:0px 0px 0px 0px;}
  .container ul li{ margin-left:5px;}  
  .container ul li a{
    font-size:16px;
    color:#333;
    text-decoration: none;
    transition: color 0.25s ease;
  }
  .teaser{width:100%;margin-bottom:50px;}
  .middle{margin:0px;margin-bottom:50px;}
  .teaser img{max-width: 150px;}
  .about-text{width:100%;}
  .about-team{width:100%;margin-top:50px;}/*width 47.5*/
  .software-box{width:100%;margin-bottom:15px;}
  .right{margin:0px;}
}
@media (min-width: 450px) {
  .logo{float :left; width:120px;}
  .container ul{ margin:2px 0px 0px 0px;}
  .container ul li{ margin-left:15px;} 
  .container ul li a{
    font-size:16px;
    color:#333;
    text-decoration: none;
    transition: color 0.25s ease;
  }
  .teaser{width:100%;margin-bottom:50px;}
  .middle{margin:0px;margin-bottom:50px;}
  .teaser img{max-width: 150px;}
  .about-text{width:100%;}
  .about-team{width:100%;margin-top:50px;}/*width 47.5*/
  .software-box{float:left; width:calc(50% - 7.5px);}
  .right{margin:0px;}
}
@media (min-width: 768px){
  .logo{float :left;width:200px;}
  .container ul{ margin:6px 0px 0px 0px;}
  .container ul li{ margin-left:25px;} 
  .container ul li a{
    font-size:22px;
    color:#333;
    text-decoration: none;
    transition: color 0.25s ease;
  }
  .teaser{width:calc((100% - 30px) / 3);}
  .about-text{width:60%;margin-right:50px;float:left;}
  .about-team{margin:0;width:30%;float:left;}/*width 47.5*/
}
@media (min-width: 992px){
  #publications{
    padding-left:400px;
  }
}